In [1]:
import pandas as pd
file = "Potable_Water.csv"
df_original = pd.read_csv(file)

In [6]:
potable_water = df_original[["Country","Variable","Year","Unit","Value"]]
potable_water.head()

     Country             Variable  Year          Unit         Value
0  Australia  Public water supply  2005  Cubic metres  10331.400024
1  Australia  Public water supply  2009  Cubic metres   8873.000000
2  Australia  Public water supply  2010  Cubic metres   8604.000000
3  Australia  Public water supply  2011  Cubic metres   7106.000000
4    Austria  Public water supply  2010  Cubic metres    587.000000

In [9]:
public_water = potable_water.loc[potable_water["Variable"] == "Public water supply",:]
public_water = public_water.loc[public_water["Value"] > 0,:]
public_water = public_water.reset_index(drop=True)


greywater = potable_water.loc[potable_water["Variable"] == "Total gross abstraction non-freshwater",:]
greywater = greywater.loc[greywater["Value"] > 0,:]
greywater = greywater.reset_index(drop=True)

potable_water_amount = potable_water.loc[potable_water["Variable"] == "Total water made available for use",:]
potable_water_amount = potable_water_amount.loc[potable_water_amount["Value"] > 0,:]
potable_water_amount = potable_water_amount.reset_index(drop=True)

public_water.to_csv('public_water.csv', header=True, index_label=True)
greywater.to_csv('greywater.csv', header=True, index_label=True)
potable_water_amount.to_csv('potable_water_amount.csv', header=True, index_label=True)