In [1]:
import pandas as pd

In [2]:
recycling = pd.read_csv('../Data/Waste_municipal_treatment.csv')

In [3]:
recycling.head()

,COU,Country,VAR,Variable,YEA,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,MUNICIPAL,Municipal waste generated,1992,1992,TONNE,Tonnes,3,Thousands,NaN,NaN,12000.000,E,Estimated value
1,AUS,Australia,MUNICIPAL,Municipal waste generated,2000,2000,TONNE,Tonnes,3,Thousands,NaN,NaN,13200.000,E,Estimated value
2,AUS,Australia,MUNICIPAL,Municipal waste generated,2007,2007,TONNE,Tonnes,3,Thousands,NaN,NaN,12798.666,NaN,NaN
3,AUS,Australia,MUNICIPAL,Municipal waste generated,2008,2008,TONNE,Tonnes,3,Thousands,NaN,NaN,13027.542,NaN,NaN
4,AUS,Australia,MUNICIPAL,Municipal waste generated,2009,2009,TONNE,Tonnes,3,Thousands,NaN,NaN,13256.419,NaN,NaN

In [4]:
del recycling['COU']
del recycling['VAR']
del recycling['YEA']
del recycling['Unit Code']
del recycling['PowerCode Code']
del recycling['Reference Period Code']
del recycling['Reference Period']
del recycling['Flag Codes']
del recycling['Flags']
del recycling['PowerCode']

In [5]:
recycling['Variable'].value_counts()

Municipal waste generated                       927
Municipal waste generated per capita            886
Municipal waste generated, Index 2000           885
Landfill                                        801
% Landfill                                      787
Municipal waste treated                         777
% Material recovery (Recycling + Composting)    758
Disposal operations                             755
Amount designated for recovery operations       741
% Recycling                                     736
Recycling                                       726
% Incineration                                  711
Total Incineration                              703
% Composting                                    666
% Incineration with energy recovery             660
Composting                                      655
Incineration with energy recovery               652
% Incineration without energy recovery          634
Incineration without energy recovery            626
Municipal waste generated, Index 1990           516
Waste from households                           515
Other municipal waste                           475
Other recovery                                  238
Other disposal                                  235
Household and similar waste                     213
Electric and electronic equipment waste         206
Bulky waste                                     189
Name: Variable, dtype: int64

In [6]:
#Municipal waste generated per capita and Municipal waste treated  is the only one we want?

for i, g in recycling.groupby('Variable'):
    if i == "Municipal waste generated":   
        g.to_csv('../Data/clean_generatedwaste.csv', header=True, index_label=True)
    if i == "Municipal waste treated":
        g.to_csv('../Data/clean_recycledwaste.csv', header=True, index_label=True)

In [10]:
#percentage waste

generated = pd.read_csv('../Data/clean_generatedwaste.csv')
recycled = pd.read_csv('../Data/clean_recycledwaste.csv')

generated['recycled'] = recycled['Value']

generated['percentofrecycledwaste'] = round(generated['recycled']/generated['Value']*100,2)

generated.to_csv('../Data/clean_percentofrecycledwaste.csv',header=True)